{% extends "base.html" %} {% block title %}HOME{% endblock %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/filter.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nanny.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/landing.css') }}" />
    <script src="scripts/scripts.js"></script>
    <!-- <style>
        body {
            background-image: url("{{ url_for('static', filename='images/background.png') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style> -->

</head>

<body>
    <!-- <header>
        <div class="buttons">
            <button class="menu-button">
                <img src="images/menu.png" alt="Menu">
            </button>
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
    </header> -->
    <div class="container">
        <section class="filters">
            <input type="text" placeholder="Search for a nanny">
            <button class="search-button">
                <img src="{{ url_for('static', filename='images/search-icon.png') }}" alt="Search">
            </button>
        </section>
        <section class="description">
            <h1>WELCOME NANNY</h1>
            <p>Ensure the safety and well-being of your children
                by choosing a nanny from FindMyNanny. Start your search today and find the perfect caregiver for your
                family.
            </p>
        </section>
        <section class="nannies">
            <h1>Browse nannies</h1>
            <!-- <article> -->
            <article>
                <div class="image">
                    <img src="./images/logo.png">
                </div>
                <div>
                    <div class="hourly_rate">
                        $80 <span>per Hour</span>
                    </div>
                    <div class="user">
                        <b>NAMES:</b> Mary Auma
                    </div>
                    <!-- <div class="description">
                        <p>I am a caring and experienced nanny with
                            a genuine love for children. I create a
                            safe and nurturing environment, organizing engaging
                            activities and maintaining a structured routine.
                            I prioritize open communication with parents and strive
                            to foster a strong bond with the families I work with.
                            My goal is to provide a loving and supportive presence for
                            children, ensuring their well-being and happiness.
                        </p>
                    </div> -->
                    <div class="address">
                        <b>ADDRESS:</b> Nairobi, Kenya
                    </div>
                    <div class="contact_number">
                        <b>CONTACT:</b> +254799530056
                    </div>
                    <div class="years_of_experience">
                        <b>YEARS OF EXPERIENCE:</b> 3 years
                    </div>
                    <!-- <div class="nanny_id">
                        <b>ID:</b>123459876
                    </div> -->
                    <div class="reviews">
                        <h3>1 Review</h3>
                        <ul>
                            <li>
                                <h4>From Bob Dylan on January 27, 2017</h4>
                                <p>Auma is a lovely person, I rate her 5 stars.</p>
                            </li>
                        </ul>
                    </div>
                </div>


            </article>

            <!-- </article> -->

            <!-- <article> -->
            <article>
                <div class="image">
                    <img src="./images/nanny-image.png">
                </div>
                <div>
                    <div class="hourly_rate">
                        $80 <span>per Hour</span>
                    </div>
                    <div class="user">
                        <b>NAMES:</b> Mary Auma
                    </div>
                    <!-- <div class="description">
                        <p>I am a caring and experienced nanny with
                            a genuine love for children. I create a
                            safe and nurturing environment, organizing engaging
                            activities and maintaining a structured routine.
                            I prioritize open communication with parents and strive
                            to foster a strong bond with the families I work with.
                            My goal is to provide a loving and supportive presence for
                            children, ensuring their well-being and happiness.
                        </p>
                    </div> -->
                    <div class="address">
                        <b>ADDRESS:</b> Nairobi, Kenya
                    </div>
                    <div class="contact_number">
                        <b>CONTACT:</b> +254799530056
                    </div>
                    <div class="years_of_experience">
                        <b>YEARS OF EXPERIENCE:</b> 3 years
                    </div>
                    <div class="reviews">
                        <h3>1 Review</h3>
                        <ul>
                            <li>
                                <h4>From Bob Dylan on January 27, 2017</h4>
                                <p>Auma is a lovely person, I rate her 5 stars.</p>
                            </li>
                        </ul>
                    </div>
                </div>


            </article>

            <!-- </article> -->

            <!-- <article> -->
            <article>
                <div class="image">
                    <img src="./images/logo.png">
                </div>
                <div>
                    <div class="hourly_rate">
                        $80 <span>per Hour</span>
                    </div>
                    <div class="user">
                        <b>NAMES:</b> Mary Auma
                    </div>
                    <!-- <div class="description">
                        <p>I am a caring and experienced nanny with
                            a genuine love for children. I create a
                            safe and nurturing environment, organizing engaging
                            activities and maintaining a structured routine.
                            I prioritize open communication with parents and strive
                            to foster a strong bond with the families I work with.
                            My goal is to provide a loving and supportive presence for
                            children, ensuring their well-being and happiness.
                        </p>
                    </div> -->
                    <div class="address">
                        <b>ADDRESS:</b> Nairobi, Kenya
                    </div>
                    <div class="contact_number">
                        <b>CONTACT:</b> +254799530056
                    </div>
                    <div class="years_of_experience">
                        <b>YEARS OF EXPERIENCE:</b> 3 years
                    </div>
                    <div class="reviews">
                        <h3>1 Review</h3>
                        <ul>
                            <li>
                                <h4>From Bob Dylan on January 27, 2017</h4>
                                <p>Auma is a lovely person, I rate her 5 stars.</p>
                            </li>
                        </ul>
                    </div>
                </div>


            </article>

            <!-- </article> -->




        </section>
        <section class="about">
            <h2>About</h2>
            <p>A personal story about what inspired the project and the timeline.</p>
            <p>This project is a Portfolio Project for Holberton School. You can find the project repository on GitHub:
                <a href="https://github.com/Anto236/FINDMYNANNY">GitHub Repository</a>
            </p>
            <div class="team-members">
                <h3>Team Members</h3>
                <ul>
                    <li>
                        <h4>Antony Mbugua</h4>
                        <a href="https://www.linkedin.com/in/amk2021/">LinkedIn</a>
                        <a href="https://github.com/your-github-profile">GitHub</a>
                        <a href="https://twitter.com/Antony_Mbugua_?t=Nwb8TYPlWERq2s_3Kwb2Ng&s=08">Twitter</a>
                    </li>
                    <li>
                        <h4>Christian Ahlidjah</h4>
                        <a href="https://www.linkedin.com/another-linkedin-profile">LinkedIn</a>
                        <a href="https://github.com/another-github-profile">GitHub</a>
                        <a href="https://twitter.com/another-twitter-profile">Twitter</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Your page content here -->
    </div>
    <footer>
        <div class="social-icons">
            <button>
                <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter" width="30" height="30">
            </button>
            <button>
                <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook" width="30" height="30">
            </button>
            <button>
                <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" width="30" height="30">
            </button>
        </div>
        <p>© FINDMYNANNY. All Rights Reserved.</p>
    </footer>
</body>

</html>
{% endblock %}
